* {
	font-family: 'Inconsolata', monospace;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #fcfcfc;
	color: #000;
}

/* _________________________________HEADER */
#header {
	width: 100%;
	padding:5px;
	background-color: #ddd;
	text-align: center;
	display: block;
}
.headeritem {
    display: inline-block;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding: 5px 8px;
}

/* _________________________________CAMAGRU */
#img_div {
	margin: 0 auto;
	display: none;
	background-color: white;
}
#canvas_div {
	margin: 0 auto;
	display: none;
	background-color: white;
}
#video_div {
	margin: 0 auto;
	display: none;
	background-color: white;
}

#snap {
	margin: auto;
	display: none;
	margin:5px;
}

/* _________________________________GENERAL */
#container {
	text-align: center;
	padding: 5px;
	margin: auto;
}
input {
	margin: 1px;
}
button {
	margin: 2px;
}
h1 {
	color: #000000;
}

/* _________________________________GALLERY */
.posttitle {
	background-color: #ddd;
	color: #000;
	padding: 5px;
	margin-bottom: 2px;
}
.post {
	color: #000;
	margin: 0 auto;
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
